apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: wservice
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi  # Ajustez selon vos besoins
  storageClassName: lssd  # Classe de stockage Scaleway (Local SSD)

